hibernate.connection.url=jdbc:mysql://localhost:3306/utc_candidates_management_db?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
hibernate.connection.username=root
hibernate.connection.password=